*.o
*.exe
.vscode

*.cmake
CMakeCache.txt
CMakeFiles
Makefile
compile_commands.json

server/mister-status

client/MiSTerStatus/bin
client/MiSTerStatus/obj
client/MiSTerStatus/.vs
client/MiSTerStatus/DiscordGameSDK
